 body {
	background-color: black;
	color: whitesmoke;
}
h1 {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 45px;
	text-align: center;
	margin: 10px auto;
	padding: 10px;
}
h2 {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;
	padding: 10px;
}
main {
	margin: 10px auto;
}
#image-container { 
	width: 610px;
	margin-left: auto;
	margin-right: auto;
}
div {
	display: inline;
	margin: 0px auto;
	/* margin-left: auto;
	margin-right: auto; */
}
img {
	display: inline;
	margin-left: auto;
	margin-right: auto;
}
ul {
	margin: 20px;
}
li {
	margin: 5px;
	margin-right: auto;
	margin-left: auto;
	padding: 3px;
	list-style-type: decimal;
}